* {
    box-sizing: border-box;
}

body {
    background-color: #506AD4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
}

th, td{
    border: 1px solid black;
    padding: 15px;
    font-size: 19px;
}

thead tr:nth-child(1n) {
    background-color: #A3CDD9;
}

thead tr:nth-child(2n) {
    background-color: #FFFCE6;
}

tbody tr:nth-child(1n) {
    background-color: #FFFCE6;
}

tbody tr:nth-child(2n) {
    background-color: #A3CDD9;
}

